@charset "utf-8";
.wrapper {
 display: grid;
 grid-template-columns: 70% 30%;
 grid-gap: 1em;
 overflow-x: hidden;
 background-color: coral;
}

.wrapper>article {
    background:cyan;
    padding: 1em;
   }

   .wrapper>article:nth-child(odd) {
    background:darkslategray;
   }